<div class="flex-container" >
    <div>
        <mat-icon id="usariicon">account_circle</mat-icon>
    </div>
    <div>
        <h2>Cadastra Usuario</h2>
    </div>
    
    <div class="imputs">
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input   matInput [(ngModel)]="usuario.nome" type="text">
        </mat-form-field>
    </div> 
    <div class="imputs">
        <mat-form-field appearance="fill">
            <mat-label>Cpf</mat-label>
            <input matInput [(ngModel)]="usuario.cpf" type="text"placeholder=' ex 000.000.000-00'>
        </mat-form-field>
    </div>
    <div class="imputs">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="usuario.email" type="email" placeholder="ex email@gmail.com" >
            </mat-form-field>
    </div>

    <div class="imputs">
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input  matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.senha">
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button> 
        </mat-form-field>
    </div>
    <div>
        <button mat-fab color="primary" id="buttonCadast" (click)="inseriUsuario()"><mat-icon>add_circle</mat-icon></button>
    </div>
    
</div>