<h1>Cadastro Usuario</h1>

    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="nome">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Cpf</mat-label>
        <input matInput [(ngModel)]="cpf">
    </mat-form-field>
    <div class="example">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" >
           
        </mat-form-field>
    </div>

    <div class="senha-style">
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input  matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="senha">
        <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> 
    </mat-form-field>  
</div>


<button (click)="enviar()"><mat-icon>add</mat-icon></button>
