<mat-form-field>
        <mat-label>Filtro</mat-label>
<input matInput placeholder="Filtro por valor" (keyup)="filtrar(inputFiltro.value)"#inputFiltro>
</mat-form-field>

<mat-table [dataSource]="produtos">
    <mat-header-row *matHeaderRowDef="mostraColunas"></mat-header-row>
    <mat-row *matRowDef="let row;columns: mostraColunas"></mat-row>
<!--
    <ng-container  matColumnDef="{{coluna}}" *ngFor="let coluna of mostraColunas" >
        <mat-header-cell  *matHeaderCellDef>{{coluna}}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item[coluna]}}</mat-cell>
    </ng-container>

-->

<ng-container  matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
</ng-container>

<ng-container  matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.nome}}</mat-cell>
</ng-container>
<ng-container  matColumnDef='preco'>
    <mat-header-cell *matHeaderCellDef>Preço</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.preco}}</mat-cell>
</ng-container>
<ng-container  matColumnDef='categoria'>
    <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.categoria}}</mat-cell>
</ng-container>
<ng-container  matColumnDef='excluir/editar'>
    <mat-header-cell *matHeaderCellDef>Editar\Excluir</mat-header-cell>
    <mat-cell *matCellDef="let item">
        <button  mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button  mat-icon-button>
            <mat-icon (click)="apagar(item.id)">delete</mat-icon>
        </button>
    </mat-cell>
</ng-container>

</mat-table>