<p>cadastro-produto works!</p>
<mat-form-field >
    <input matInput placeholder="Nome" [(ngModel)]="nome">
</mat-form-field>

<mat-form-field >
    <input matInput placeholder="Categoria"[(ngModel)]="categoria">
</mat-form-field>

<mat-form-field >
    <input matInput placeholder="Preço"[(ngModel)]="preco">
</mat-form-field>

<mat-form-field >
    <input matInput placeholder="Imagem"[(ngModel)]="imagem">
</mat-form-field>
<button (click)="inseriProd()"><mat-icon>add</mat-icon></button>

<mat-card  *ngFor="let produto of produtos" class = "prod-card"> 
  <mat-card-header> 
    <div  mat-card-avatar  class = "example-header-image" > </div> 
    <mat-card-title >{{produto.GetProdNome()}} </mat-card-title> 
    <mat-card-subtitle mat-card-subtitle>{{produto.GetProdCategoria()}}</mat-card-subtitle > 
  </mat-card-header> 
  <img  mat-card-image  src ={{produto.GetProdImagem()}}  alt= "Foto do produto" > 
  <mat-card-content> 
    <p>
    </p > 
  </mat-card-content > 
  <mat-card-actions > 
    <button button  mat-button > add </button > 
    <button button  mat-button > SHARE </button > 
    </mat-card-actions> 
</mat-card>