<div class='flex-container'>
    <mat-icon id='iconprod'>add_shopping_cart</mat-icon>
    <h2>Cadastro produto </h2>
    <div>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Nome" [(ngModel)]="nome">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Categoria"[(ngModel)]="categoria">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <input matInput type="number" placeholder="Preço"[(ngModel)]="preco">
            <span  matPrefix >$ </span> 
           
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" >
            <input matInput placeholder="Imagem"[(ngModel)]="imagem">
        </mat-form-field>
    </div>
    <button mat-fab color="primary" (click)="inseriProd()"><mat-icon>add</mat-icon></button>
</div>
<app-listaproduto></app-listaproduto>
