<div class='flex-container'>
    <div>
        <mat-icon id='iconprod'>add_shopping_cart</mat-icon>
    </div>
    <div>
        <h2>Cadastro produto </h2>
    </div>
    
    <div>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Nome" [(ngModel)]="produto.nome">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Categoria"[(ngModel)]="produto.categoria">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <input matInput type="number" placeholder="Preço"[(ngModel)]="produto.preco">
            <span  matPrefix >$ </span> 
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" >
            <input matInput placeholder="Imagem"[(ngModel)]="produto.imagem">
        </mat-form-field>
    </div>
    <div>
        <button id='buttonPord' mat-fab color="primary" (click)="inseriProd()"><mat-icon>add</mat-icon></button>
    </div>
</div>
<app-listaproduto></app-listaproduto>
